<div class="position-absolute z-1">
  <div class="d-flex  align-items-center">
    <div class="chart-title">
      <h6 class="m-0 pt-2">إحصائيات إستخدام القسيمة</h6>
      <p style="color: #99a1b7 ;font-size: 14px;">05 يوليو , 2023 - 05 أغسطس , 2023</p>
    </div>
    <select id="filterDropdown" style="cursor: pointer;" class="p-1 rounded-2">
      <option value="all">سنويا</option>
      <option value="2024">شهريا</option>
    </select>
  </div>
</div>
<div
  class="position-relative  chart"
  #chart
  style="

    height: 264px;
    background: #ffffff;
    padding-top: 16px;
    padding-bottom: 10px;
    border-radius: 8px;
  "
></div>
